<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rep_macro">

  <xacro:macro name="rep" params="prefix">

    <!-- Links -->
    <link name="${prefix}base_link">
      <inertial>
        <origin xyz="0.002457 0.000319 0.017256" rpy="0 0 0"/>
        <mass value="2.915698"/>
        <inertia ixx="1.497968e-02" ixy="-1.987847e-06" ixz="-6.198532e-04"
                 iyy="1.704262e-02" iyz="-5.692531e-05" izz="2.223752e-02"/>
      </inertial>
      <visual>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/base_link.dae" scale="1 1 1"/>
        </geometry>
        <material name="Acier"/>
      </visual>
      <collision>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/base_link_collision.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}caster_wheel1">
      <inertial>
        <origin xyz="-0.002156 0.000000 -0.019873" rpy="0 0 0"/>
        <mass value="0.605039"/>
        <inertia ixx="4.333806e-04" ixy="0.000000e+00" ixz="4.094011e-05"
                 iyy="4.187976e-04" iyz="8.924417e-20" izz="1.115116e-04"/>
      </inertial>
      <visual>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/caster_wheel1.dae" scale="1 1 1"/>
        </geometry>
        <material name="Acier"/>
      </visual>
      <collision>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/caster_wheel1_collision.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}caster_wheel2">
      <inertial>
        <origin xyz="0.002156 -0.000000 -0.007373" rpy="0 0 0"/>
        <mass value="0.605039"/>
        <inertia ixx="4.333806e-04" ixy="-1.504024e-12" ixz="-4.094010e-05"
                 iyy="4.187976e-04" iyz="-1.272853e-11" izz="1.115116e-04"/>
      </inertial>
      <visual>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/caster_wheel2.dae" scale="1 1 1"/>
        </geometry>
        <material name="Acier"/>
      </visual>
      <collision>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/caster_wheel2_collision.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}lidar">
      <inertial>
        <origin xyz="0.000000 0.000000 0.005494" rpy="0 0 0"/>
        <mass value="0.756885"/>
        <inertia ixx="2.679588e-04" ixy="1.784883e-19" ixz="-2.872641e-16"
                 iyy="2.679523e-04" iyz="-4.462208e-20" izz="4.518700e-04"/>
      </inertial>
      <visual>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/lidar.dae" scale="1 1 1"/>
        </geometry>
        <material name="Acier"/>
      </visual>
      <collision>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/lidar_collision.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}imu">
      <inertial>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <mass value="0.023550"/>
        <inertia ixx="1.815312e-06" ixy="0.000000e+00" ixz="0.000000e+00"
                 iyy="1.000000e-06" iyz="0.000000e+00" izz="2.551250e-06"/>
      </inertial>
      <visual>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/imu.dae" scale="1 1 1"/>
        </geometry>
        <material name="Acier"/>
      </visual>
      <collision>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/imu_collision.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}mag">
      <inertial>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <mass value="0.023550"/>
        <inertia ixx="1.000000e-06" ixy="0.000000e+00" ixz="0.000000e+00"
                 iyy="1.815312e-06" iyz="0.000000e+00" izz="2.551250e-06"/>
      </inertial>
      <visual>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/mag.dae" scale="1 1 1"/>
        </geometry>
        <material name="Acier"/>
      </visual>
      <collision>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/mag_collision.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}left_wheel">
      <inertial>
        <origin xyz="0.000005 0.022147 0.000002" rpy="0 0 0"/>
        <mass value="1.021548"/>
        <inertia ixx="1.666424e-03" ixy="1.189099e-08" ixz="4.089806e-08"
                 iyy="2.596221e-03" iyz="-7.180651e-08" izz="1.666591e-03"/>
      </inertial>
      <visual>
        <origin xyz="-0.000411 0.019078 -0.001942" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/left_wheel.dae" scale="1 1 1"/>
        </geometry>
        <material name="Acier"/>
      </visual>
      <collision>
        <origin xyz="-0.000411 0.019078 -0.001942" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/left_wheel_collision.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}right_wheel">
      <inertial>
        <origin xyz="-0.000005 -0.022147 0.000002" rpy="0 0 0"/>
        <mass value="1.021548"/>
        <inertia ixx="1.666424e-03" ixy="1.189099e-08" ixz="-4.089806e-08"
                 iyy="2.596221e-03" iyz="7.180651e-08" izz="1.666591e-03"/>
      </inertial>
      <visual>
        <origin xyz="0.000411 -0.019078 -0.001942" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/right_wheel.dae" scale="1 1 1"/>
        </geometry>
        <material name="Acier"/>
      </visual>
      <collision>
        <origin xyz="0.000411 -0.019078 -0.001942" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rep_description/meshes/rep/right_wheel_collision.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>
    </link>

    <!-- Joints (internal to assembly) -->
    <joint name="${prefix}caster_wheel1_joint" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}caster_wheel1"/>
      <origin xyz="0.122500 0.000000 -0.023000" rpy="-0.000000 0.000000 -0.000000"/>
    </joint>

    <joint name="${prefix}caster_wheel2_joint" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}caster_wheel2"/>
      <origin xyz="-0.125000 0.000000 -0.035500" rpy="0.000000 -0.000000 -0.000000"/>
    </joint>

    <joint name="${prefix}lidar_joint" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}lidar"/>
      <origin xyz="0.055000 0.002000 0.123200" rpy="0.000000 -0.000000 -0.000000"/>
    </joint>

    <joint name="${prefix}imu_joint" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}imu"/>
      <origin xyz="-0.000000 -0.000000 0.075500" rpy="-0.000000 0.000000 0.000000"/>
    </joint>

    <link name="${prefix}imu_link"/>

    <joint name="${prefix}imu_link_joint" type="fixed">
      <parent link="${prefix}imu"/>
      <child link="${prefix}imu_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="${prefix}mag_joint" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}mag"/>
      <origin xyz="0.142000 -0.003000 0.005500" rpy="0.000000 -0.000000 -0.000000"/>
    </joint>

    <joint name="${prefix}left_wheel_joint" type="continuous">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}left_wheel"/>
      <origin xyz="-0.000000 0.141000 -0.027000" rpy="0.000000 -0.000000 -0.000000"/>
      <axis xyz="-0.000000 1.000000 -0.000000"/>
      <limit effort="100.0" velocity="1.00"/>
    </joint>

    <joint name="${prefix}right_wheel_joint" type="continuous">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}right_wheel"/>
      <origin xyz="-0.000000 -0.141000 -0.027000" rpy="-0.000000 -0.000000 -0.000000"/>
      <axis xyz="0.000000 -1.000000 -0.000000"/>
      <limit effort="100.0" velocity="1.00"/>
    </joint>

    <!-- ROS 2 control: generated generic system -->
    <ros2_control name="${prefix}rep_system" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <param name="cmd_topic">sim/rep_system/cmd</param>
        <param name="state_topic">sim/rep_system/state</param>
      </hardware>

      <joint name="${prefix}left_wheel_joint">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}right_wheel_joint">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>